#header{
    padding-top: 250px !important;
    padding-bottom: 145px !important;
    background-color: #87509C;
    h1{
        color: white;
        font-weight: bold;
        font-size: 42px;
    }
    .btn{
        background-color: #eb7d4b;
        border-bottom: 5px solid #c86a40;
    }
}