#team{
    background-color: #e7f1f8;
    color: #3c4761;
    hr{
        background-color: #c8d9e5;
    }
    h3{
        color: #30bae7;
    }
    h2{
        margin-bottom: 15px;
    }
    .social-network{
        justify-content: center;
        a{
            margin: 5px;
        }
    }
    article{
        padding: 0 30px;
        margin-bottom: 70px;
    }
}